@import "../App.scss";
$breakPointMobile: 600px;
@import "../Component/Responsive.scss";

@media only screen and (max-width: $breakPointMobile) {
  // .header-bottom {
  //   .container-fluid {
  //     .headerSecondText {
  //       display: none;
  //     }
  //   }
  // }
  .posts {
    padding: rem(20) rem(10);
    margin-top: rem(50);
    .postInfo {
      padding: 0;
      margin-bottom: rem(30);
      div {
        margin: rem(18) 0;
      }
      img {
        &:nth-child(3) {
          margin-bottom: rem(30);
        }
      }
    }
    .newsSocialNetwork {
      padding-top: rem(15);
      margin-bottom: rem(50);
    }
    .newArticle {
      padding: rem(16) 0;
      .newArticleCardActive {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 0;
        .newArticleCardActiveText {
          padding: 0;
          width: 100%;
          div {
            margin: rem(10) 0 0 0;
            width: 100%;
            justify-content: space-between;
          }
          h3 {
            font-size: rem(20);
          }
          p {
            &:nth-child(3) {
              display: none;
            }
          }
        }
        .newArticleCardActiveImg {
          div {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
      .newArticleCard {
        border-top: rem(1) solid var(--borderColor);
        margin: rem(10) 0;
        padding-top: rem(15);
        .newArticleCardImg {
          div {
            width: rem(150);
          }
        }
        .newArticleCardText {
          padding: 0 0 0 rem(10);
          width: 100%;
          div {
            margin-bottom: rem(10);
            width: 100%;
          }
          h3 {
            margin: 0;
          }
          p {
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
      .newArticleLink {
        margin-bottom: rem(30);
      }
    }
    .newElektrotexnika {
      padding: 0;
    }
  }
}
