@import "../../App.scss";

.newsHome {
  padding: rem(18) 0;
  // height: rem(376);
  .news-card {
    width: 100%;
    height: rem(376);
    .news_active {
      position: relative;
      // width: rem(630);
      // width: max-content;
      width: 100%;
      height: 100%;
      // width: max-content;
      // height: rem(376);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.06);
        }
      }
      .newsLink {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          transition: 0.3s ease-in-out;
          object-fit: cover;
        }
        h3 {
          color: var(--white);
          font-size: rem(20);
          font-weight: 600;
          // width: rem(485);
          height: rem(48);
          line-height: rem(24);
          margin: 0 rem(40) 0 rem(50);
        }
      }
      .news-date {
        display: flex;
        // width: rem(485);
        margin: rem(12) rem(40) rem(20) rem(50);
        // justify-content: center;
        p {
          font-size: rem(10);
          font-weight: 400;
          line-height: rem(12);
          color: var(--white);
          &:nth-child(2) {
            margin-left: rem(19);
          }
          &:nth-child(1) {
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: rem(3);
              height: rem(3);
              background: var(--white);
              right: rem(-11);
              bottom: 35%;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .newsContainer {
      // display: grid;
      // grid-template-columns: auto;
      // grid-template-rows: auto;
      // grid-column: 1 / span 2;
      .news-items {
        width: 100%;
        height: 50%;
        position: relative;
        display: flex;
        align-items: flex-end;
        //   justify-content: flex-end;
        overflow: hidden;
        margin: 0;
        &:hover {
          img {
            transform: scale(1.06);
          }
        }
        .newsLink2 {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: 0.3s ease-in-out;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
          }
          .news-item {
            display: flex;
            flex-direction: column;
            margin-left: rem(15);
            h3 {
              margin: 0;
              color: var(--white);
              font-size: rem(20);
              font-weight: 600;
              height: rem(48);
              line-height: rem(24);
              height: auto;
            }
            .news-date {
              display: flex;
              width: rem(485);
              margin: rem(12) rem(40) rem(20) 0;
              p {
                margin: 0;
                font-size: rem(10);
                font-weight: 400;
                line-height: rem(12);
                color: var(--white);
                &:nth-child(1) {
                  position: relative;
                  &::before {
                    position: absolute;
                    content: "";
                    width: rem(3);
                    height: rem(3);
                    background: var(--white);
                    right: rem(-11);
                    bottom: 35%;
                    border-radius: 50%;
                  }
                }
                &:nth-child(2) {
                  margin-left: rem(19);
                }
              }
            }
          }
        }
      }
      .news-items_card_second {
        display: flex;
        width: 100%;
        height: 50%;
        .news-items_second {
          width: 50%;
          // height: rem(187);
          position: relative;
          display: flex;
          align-items: flex-end;
          overflow: hidden;
          &:hover {
            img {
              transform: scale(1.06);
            }
          }
          .newsLink3 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 101%;
            img {
              transition: 0.3s ease-in-out;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
              object-fit: cover;
            }
            h3 {
              margin: 0 0 0 rem(15);
              color: var(--white);
              font-size: rem(20);
              font-weight: 600;
              height: rem(48);
              line-height: rem(24);
              height: auto;
            }
            .news-item_second {
              display: flex;
              flex-direction: column;
              .news-date {
                display: flex;
                margin: rem(12) rem(40) rem(20) rem(15);
                p {
                  margin: 0;
                  font-size: rem(10);
                  font-weight: 400;
                  line-height: rem(12);
                  color: var(--white);
                  &:nth-child(2) {
                    margin-left: rem(19);
                  }
                  &:nth-child(1) {
                    position: relative;
                    &::before {
                      position: absolute;
                      content: "";
                      width: rem(3);
                      height: rem(3);
                      background: var(--white);
                      right: rem(-11);
                      bottom: 35%;
                      border-radius: 50%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
