@import "../App.scss";

.books {
  padding: rem(30);
  // background: var(--answerBg);
  .booksLink {
    width: 100%;
    border-bottom: rem(1) solid var(--borderColor);
    display: flex;
    .activeBooksLink {
      padding: rem(16) rem(20) !important;
      color: var(--green) !important;
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(20);
      border-bottom: rem(2) solid var(--green);
      transition: 0.3s ease-in-out;
    }
    .defaultBooksLink {
      color: var(--comment);
      border-bottom: rem(2) solid transparent;
      font-weight: 500;
      transition: 0.3s ease-in-out;
      font-size: rem(16);
      line-height: rem(20);
      padding: rem(16) rem(20) !important;
    }
  }
  .booksCard {
    display: flex;
    width: 100%;
    border-bottom: rem(1) solid var(--borderColor);
    align-items: center;
    justify-content: space-between;
    padding: rem(20) 0;
    .booksText {
      display: flex;
      align-items: center;
      .books_info {
        margin-left: rem(16);
        .booksTitle {
          display: flex;
          align-items: center;
          padding-bottom: rem(10);
          h4 {
            color: var(--darkBlack);
            font-weight: 600;
            font-size: rem(16);
            line-height: rem(19);
          }
        }
        .booksFormat {
          display: flex;
          p {
            font-weight: 500;
            font-size: rem(12);
            line-height: rem(15);
            color: var(--comment) !important;
          }
        }
      }
    }
    .booksDownload {
      background: rgba(106, 219, 109, 0.2);
      border-radius: rem(4);
      width: rem(40);
      height: rem(40);
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      img {
        // position: absolute;
        // top: 30%;
        // left: 30%;
      }
      p {
        font-weight: 500;
        font-size: rem(12);
        line-height: rem(15);
        a {
          color: var(--black) !important;
        }
      }
    }
  }
  .newElektrotexnika {
    margin-left: rem(40);
    .newElektrotexnikaCardActive {
      border-top: rem(1) solid var(--borderColor);
      padding-top: rem(23);
      margin-bottom: rem(32);
      img {
        width: 100%;
        height: auto;
        border-radius: rem(4);
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: rem(16) 0;
        h5 {
          font-weight: 400;
          line-height: rem(12);
          font-size: rem(10);
          padding: rem(4) rem(10);
          color: var(--white);
          background: var(--lightGreen);
        }
        p {
          color: var(--comment);
          font-weight: 400;
          line-height: rem(15);
          font-size: rem(12);
        }
      }
      h3 {
        color: var(--darkBlack);
        font-size: rem(16);
        line-height: rem(19);
        font-weight: 600;
      }
      p {
        color: var(--lightBlack);
        font-size: rem(12);
        line-height: rem(15);
        font-weight: 400;
        margin-top: rem(16);
      }
    }
    .newElektrotexnikaCard {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: rem(16) 0;
      border-top: rem(1) solid var(--borderColor);
      .newElektrotexnikaCardText {
        h4 {
          color: var(--darkBlack);
          font-size: rem(16);
          line-height: rem(19);
          font-weight: 600;
        }
        p {
          font-size: rem(12);
          line-height: rem(15);
          font-weight: 400;
          margin-top: rem(16);
          color: var(--comment);
        }
      }
      .newElektrotexnikaCardImg {
        div {
          width: rem(100);
          img {
            width: 100%;
            height: auto;
            border-radius: rem(4);
          }
        }
      }
    }
  }
  .bookPagination {
    margin-top: rem(40);
    .ant-pagination-item {
      background: var(--green);
      color: var(--white);
      border-color: var(--green);
    }
  }
}
