@import "../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .books {
    margin-top: rem(30);
    padding: rem(30) rem(5);
    .container-fluid {
      .ant-row {
        .ant-col {
          width: 100% !important;
          .ant-tabs,
          .ant-tabs-top,
          .ant-tabs-mobile {
            width: 100% !important;
            .ant-tabs-nav {
              width: 100% !important;
              .ant-tabs-nav-list {
                width: 100% !important;
                display: flex;
                justify-content: space-between !important;
              }
            }
          }
          .bookPagination {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: rem(50);
          }
          .newElektrotexnika {
            margin-left: 0;
          }
        }
      }
    }
  }
}
