@import "../App.scss";

.searchPost {
  padding: rem(30);
  .searchCard {
    border-bottom: rem(1) solid var(--borderColor);
    padding-bottom: rem(20);
    margin-top: rem(20);
    .searchDate {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(10);
      h5 {
        background-color: var(--lightGreen);
        padding: rem(4) rem(10);
        color: var(--white);
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(14);
        p {
          color: var(--white);
        }
      }
      p {
        display: flex;
        align-items: center;
        color: var(--comment);
        svg {
          margin-right: rem(7);
        }
      }
    }
    .searchText {
      h3 {
        color: var(--darkBlack);
        font-size: rem(16);
        font-weight: 600;
        line-height: rem(19);
        margin-bottom: rem(10);
      }
      p {
        color: var(--comment);
        font-size: rem(12);
      }
    }
  }
  .newArticleCardActive {
    display: flex;
    border-top: rem(1) solid var(--borderColor);
    padding-top: rem(24);
    // align-items: center;
    margin-bottom: rem(24);
    flex-direction: column-reverse;
    &:hover {
      .newArticleCardActiveText {
        h3 {
          color: var(--lightGreen);
        }
      }
      .newArticleCardActiveImg {
        img {
          filter: brightness(0.8);
        }
      }
    }
    .newArticleCardActiveText {
      padding-right: rem(21);
      div {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(15);
        h5 {
          margin: 0;
          padding: rem(4) rem(10);
          background: var(--lightGreen);
          color: var(--white);
          font-size: rem(12);
          line-height: rem(16);
          width: max-content;
          font-weight: 400;
        }
        p {
          color: var(--comment);
          font-size: rem(12);
          line-height: rem(15);
          font-weight: 400;
          // padding-top: rem(15);
        }
      }
      h3 {
        font-size: rem(20);
        font-weight: 600;
        line-height: rem(24);
        color: var(--black);
        margin: rem(10) 0;
        transition: 0.3s ease-in-out;
      }
      p {
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(19);
        color: var(--lightBlack);
      }
    }
    .newArticleCardActiveImg {
      div {
        // width: rem(289);
        img {
          // height: rem(289);
          height: auto;
          width: 100%;
          border-radius: rem(4);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .newArticleCard {
    display: flex;
    align-items: center;
    margin: rem(30) 0;
    &:hover {
      .newArticleCardImg {
        img {
          filter: brightness(0.8);
        }
      }
      .newArticleCardText {
        h3 {
          color: var(--lightGreen);
        }
      }
    }
    .newArticleCardImg {
      div {
        width: rem(191);
        img {
          width: 100%;
          // height: rem(179);
          height: auto;
          border-radius: rem(4);
          transition: 0.3s ease-in-out;
        }
      }
    }
    .newArticleCardText {
      padding-left: rem(26);
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
          padding: rem(4) rem(10);
          background: var(--lightGreen);
          color: var(--white);
          margin: 0;
          font-size: rem(12);
          line-height: rem(16);
          font-weight: 400;
        }
        p {
          color: var(--comment);
          font-weight: 400;
          line-height: rem(15);
          font-size: rem(12);
        }
      }
      h3 {
        font-size: rem(18);
        font-weight: 600;
        line-height: rem(22);
        color: var(--black);
        margin: rem(10) 0;
        transition: 0.3s ease-in-out;
      }
      p {
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(19);
        color: var(--lightBlack);
      }
    }
  }
  .newArticleLink {
    margin-top: rem(40);
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      padding: rem(16) rem(25);
      // background: var(--blue);
      color: var(--blue);
      border-bottom: rem(1) solid var(--blue);
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--white);
        background: var(--blue);
      }
    }
  }
}
