@import "../App.scss";

.home {
  // padding: 0 rem(25) rem(25) rem(25);
  .newArticle,
  .newElektrotexnika {
    padding: rem(30);
    .newArticleCardActive {
      display: flex;
      border-top: rem(1) solid var(--borderColor);
      padding-top: rem(24);
      align-items: center;
      margin-bottom: rem(24);
      width: 100%;
      &:hover {
        .newArticleCardActiveText {
          h3 {
            color: var(--lightGreen);
          }
        }
        .newArticleCardActiveImg {
          img {
            filter: brightness(0.8);
          }
        }
      }
      .newArticleCardActiveText {
        padding-right: rem(21);
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          h5 {
            margin: 0;
            padding: rem(4) rem(10);
            background: var(--lightGreen);
            color: var(--white);
            font-size: rem(12);
            line-height: rem(16);
            font-weight: 400;
          }
          p {
            color: var(--comment);
            font-size: rem(12);
            line-height: rem(15);
            font-weight: 400;
          }
        }
        h3 {
          font-size: rem(20);
          font-weight: 600;
          line-height: rem(24);
          color: var(--black);
          margin: rem(15) 0;
          transition: 0.3s ease-in-out;
        }
        p {
          font-size: rem(14);
          font-weight: 400;
          line-height: rem(19);
          color: var(--lightBlack);
        }
      }
      .newArticleCardActiveImg {
        div {
          // width: rem(289);
          width: 100%;
          img {
            // height: rem(289);
            height: auto;
            width: 100%;
            border-radius: rem(4);
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
    .newArticleCard {
      display: flex;
      align-items: center;
      margin-top: rem(30);
      &:hover {
        .newArticleCardText {
          h3 {
            color: var(--lightGreen);
          }
        }
        .newArticleCardImg {
          img {
            filter: brightness(0.8);
          }
        }
      }
      .newArticleCardImg {
        div {
          width: rem(191);
          img {
            width: 100%;
            // height: rem(179);
            height: auto;
            border-radius: rem(4);
            transition: 0.3s ease-in-out;
          }
        }
      }
      .newArticleCardText {
        padding-left: rem(26);
        width: 100%;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h5 {
            padding: rem(4) rem(10);
            background: var(--lightGreen);
            color: var(--white);
            margin: 0;
            font-size: rem(12);
            line-height: rem(16);
            font-weight: 400;
          }
          p {
            color: var(--comment);
            font-weight: 400;
            line-height: rem(15);
            font-size: rem(12);
          }
        }
        h3 {
          font-size: rem(20);
          font-weight: 600;
          line-height: rem(24);
          color: var(--black);
          margin: rem(10) 0;
          transition: 0.3s ease-in-out;
        }
        p {
          font-size: rem(12);
          font-weight: 400;
          line-height: rem(19);
          color: var(--lightBlack);
        }
      }
    }
    .newArticleLink {
      margin-top: rem(40);
      width: 100%;
      display: flex;
      justify-content: center;
      a {
        padding: rem(16) rem(25);
        // background: var(--blue);
        color: var(--blue);
        border-bottom: rem(1) solid var(--blue);
        transition: 0.3s ease-in-out;
        &:hover {
          color: var(--white);
          background: var(--blue);
        }
      }
    }
  }
  .newElektrotexnika {
    .newElektrotexnikaCardActive {
      border-top: rem(1) solid var(--borderColor);
      padding-top: rem(23);
      margin-bottom: rem(32);
      &:hover {
        h3 {
          color: var(--lightGreen);
        }
        img {
          filter: brightness(0.8);
        }
      }
      img {
        width: 100%;
        height: auto;
        border-radius: rem(4);
        transition: 0.3s ease-in-out;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: rem(12) 0;
        h5 {
          font-weight: 400;
          line-height: rem(12);
          font-size: rem(10);
          padding: rem(4) rem(10);
          color: var(--white);
          background: var(--lightGreen);
        }
        p {
          color: var(--comment);
          font-weight: 400;
          line-height: rem(15);
          font-size: rem(12);
        }
      }
      h3 {
        color: var(--black);
        font-size: rem(16);
        line-height: rem(19);
        font-weight: 600;
        transition: 0.3s ease-in-out;
      }
      p {
        color: var(--lightBlack);
        font-size: rem(12);
        line-height: rem(15);
        font-weight: 400;
        margin-top: rem(10);
      }
    }
    .newElektrotexnikaCard {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: rem(16) 0;
      border-top: rem(1) solid var(--borderColor);
      &:hover {
        .newElektrotexnikaCardText {
          h4 {
            color: var(--lightGreen);
          }
        }
        .newElektrotexnikaCardImg {
          img {
            filter: brightness(0.8);
          }
        }
      }
      .newElektrotexnikaCardText {
        h4 {
          color: var(--black);
          font-size: rem(16);
          line-height: rem(19);
          font-weight: 600;
          transition: 0.3s ease-in-out;
        }
        p {
          font-size: rem(12);
          line-height: rem(15);
          font-weight: 400;
          margin-top: rem(14);
          color: var(--comment);
        }
      }
      .newElektrotexnikaCardImg {
        div {
          width: rem(100);
          img {
            width: 100%;
            height: auto;
            border-radius: rem(4);
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
