@import "../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .home {
    margin-top: rem(70);
    .newArticle {
      padding: rem(16) 0;
      .newArticleCardActive {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 0;
        .newArticleCardActiveText {
          padding: 0;
          width: 100%;
          div {
            margin: rem(10) 0 0 0;
            width: 100%;
            justify-content: space-between;
          }
          h3 {
            font-size: rem(20);
          }
          p {
            &:nth-child(3) {
              display: none;
            }
          }
        }
        .newArticleCardActiveImg {
          div {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
      .newArticleCard {
        border-top: rem(1) solid var(--borderColor);
        margin: rem(10) 0;
        padding-top: rem(15);
        .newArticleCardImg {
          div {
            width: rem(150);
          }
        }
        .newArticleCardText {
          padding: 0 0 0 rem(10);
          width: 100%;
          div {
            margin-bottom: rem(10);
            width: 100%;
          }
          h3 {
            margin: 0;
          }
          p {
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
      .newArticleLink {
        margin-bottom: rem(30);
      }
    }
    .newElektrotexnika {
      padding: 0;
    }
    .answer {
      padding: 0;
      margin: rem(50) 0;
      .answer-card {
        display: none;
      }
      .answerSwiper {
        display: block;
        .answer-card2 {
          width: rem(290);
          height: rem(184);
          border-radius: rem(4);
          background: var(--answerBg);
          padding: rem(17) rem(20) 0 rem(20);
          h5 {
            font-size: rem(12);
            line-height: rem(15);
            font-weight: 600;
            color: var(--black);
            margin: 0 0 rem(18) 0;
          }
          p {
            font-weight: 400;
            font-size: rem(12);
            line-height: rem(15);
            color: var(--lightBlack);
          }
        }
      }
    }
  }
}
