@import "../../App.scss";

.header-top {
  padding: rem(48) rem(30) rem(53) rem(30);
  .header-top_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-text {
      width: rem(630);
      height: rem(66);
      color: var(--green);
      font-weight: 700;
      font-size: rem(18);
      line-height: rem(22);
    }
  }
}
.header-bottom {
  background: var(--green);
  height: rem(64);
  padding: 0 rem(30);
  .headerMenu {
    display: none;
  }
  .navbar {
    width: 100%;
    height: rem(64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    .nav-links {
      height: 100%;
      display: flex;
      .navLink {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: var(--whiteHover);
        padding: 0 rem(15);
        color: var(--white);
        font-size: rem(14);
        line-height: rem(17);
        text-transform: uppercase;
        font-weight: 400;
        transition: 0.3s ease-in-out;
        &:hover {
          background: var(--whiteHover);
        }
      }
    }
    p {
      font-size: rem(16);
      font-weight: 600;
      line-height: rem(19);
      color: var(--white);
      margin: 0 0 0 rem(30);
    }
  }
  .mobileSearch {
    display: none;
  }
  .headerSecondText {
    display: none;
  }
}
