@import "../../App.scss";

.footer {
  padding: rem(30);
  background-color: var(--green);
  .footer-logo {
    .footerLogo2 {
      display: none;
    }
  }
  .footer-email {
    display: flex;
    p {
      font-weight: 400;
      line-height: rem(15);
      font-size: rem(12);
      color: var(--white);
      margin: 0;
    }
    a {
      font-weight: 500;
      font-size: rem(12);
      line-height: rem(15);
      text-decoration-line: underline;
      margin-left: rem(10);
      color: var(--white) !important;
      p {
        color: var(--white) !important;
        font-weight: 500;
      }
    }
  }
  .footer-link {
    display: flex;
    align-items: center;
    p {
      font-weight: 400;
      line-height: rem(15);
      font-size: rem(12);
      color: var(--white);
      margin: 0;
    }
    a {
      margin-left: rem(16);
    }
  }
  .footer-text {
    margin-top: rem(21);
    font-weight: 300;
    font-size: rem(12);
    line-height: rem(15);
    color: var(--comment);
    border-top: rem(1) solid var(--borderColor);
    padding-top: rem(21);
    p {
      width: rem(711);
    }
  }
}
