@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .footer {
    padding: rem(30) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green) !important;
    .container-fluid {
      .ant-row {
        display: flex;
        flex-direction: column !important;
        .footer-logo {
          img {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
            }
          }
        }
        .footer-email {
          margin: rem(25) 0;
          width: 100%;
          justify-content: center;
          .footerEmailText {
            display: none;
          }
          a {
            display: block;
            p {
              color: var(--white) !important;
              text-decoration-line: underline;
            }
          }
        }
        .footer-link {
          p {
            display: none;
          }
        }
        .footer-text {
          p {
            width: 100%;
            height: auto;
            color: var(--comment);
            text-align: center;
          }
        }
      }
      .footer-text {
        width: 100%;
        text-align: center;
        p {
          width: 100%;
          color: var(--comment);
        }
      }
    }
  }
}
