@import "../App.scss";

.elektronika {
  padding: rem(30) rem(20);
  .electronikaCard {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: rem(25);
    padding-right: rem(20);
    &:hover {
      .electronika-card_info {
        h5 {
          color: var(--lightGreen);
        }
      }
      .electronika-card_img {
        div {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
    .electronika-card_img {
      //   overflow: hidden;
      //   height: rem(179);
      //   width: rem(750);
      border-radius: rem(4);
      display: flex;
      div {
        // height: rem(179);
        width: rem(192);
        overflow: hidden;
        border-radius: rem(4);
        img {
          width: 100%;
          height: auto;
          // height: rem(179);
          // width: rem(192);
          border-radius: rem(4);
          transition: 0.3s ease-in-out;
        }
      }
    }
    .electronika-card_info {
      display: flex;
      flex-direction: column;
      //   justify-content: space-between;
      margin-left: rem(26);
      h5 {
        font-size: rem(20);
        font-weight: 600;
        line-height: rem(24);
        color: var(--black);
        margin: 0;
        transition: 0.3s ease-in-out;
      }
      .electronika-card_date {
        display: flex;
        height: rem(24);
        margin: rem(5) 0;
        p {
          height: rem(24);
          font-size: rem(12);
          line-height: rem(15);
          font-weight: 400;
          color: var(--comment);
          display: flex;
          align-items: center;
          span {
            display: flex;
            align-items: center;
            svg {
              margin-right: rem(9);
            }
            &:nth-child(2) {
              margin-left: rem(36);
            }
          }
        }
      }
      .electronika-card_text {
        font-size: rem(12);
        line-height: rem(15);
        font-weight: 400;
        color: var(--comment);
        height: rem(78);
        // overflow: hidden;
        p {
          display: inline;
        }
      }
    }
  }
  .newElektrotexnika {
    .newElektrotexnikaCardActive {
      border-top: rem(1) solid var(--borderColor);
      padding-top: rem(23);
      margin-bottom: rem(32);
      &:hover {
        img {
          filter: brightness(0.8);
        }
        h3 {
          color: var(--lightGreen);
        }
      }
      img {
        width: 100%;
        height: auto;
        border-radius: rem(4);
        transition: 0.3s ease-in-out;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: rem(10) 0;
        h5 {
          font-weight: 400;
          line-height: rem(12);
          font-size: rem(10);
          padding: rem(4) rem(10);
          color: var(--white);
          background: var(--lightGreen);
        }
        p {
          color: var(--comment);
          font-weight: 400;
          line-height: rem(15);
          font-size: rem(12);
        }
      }
      h3 {
        color: var(--black);
        font-size: rem(16);
        line-height: rem(19);
        font-weight: 600;
        transition: 0.3s ease-in-out;
      }
      p {
        color: var(--lightBlack);
        font-size: rem(12);
        line-height: rem(15);
        font-weight: 400;
        margin-top: rem(10);
      }
    }
    .newElektrotexnikaCard {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: rem(16) 0 0 0;
      margin-bottom: rem(20);
      border-top: rem(1) solid var(--borderColor);
      &:hover {
        .newElektrotexnikaCardText {
          h4 {
            color: var(--lightGreen);
          }
        }
        .newElektrotexnikaCardImg {
          img {
            filter: brightness(0.8);
          }
        }
      }
      .newElektrotexnikaCardText {
        h4 {
          color: var(--black);
          font-size: rem(16);
          line-height: rem(19);
          font-weight: 600;
          transition: 0.3s ease-in-out;
        }
        p {
          font-size: rem(12);
          line-height: rem(15);
          font-weight: 400;
          margin-top: rem(16);
          color: var(--comment);
        }
      }
      .newElektrotexnikaCardImg {
        div {
          width: rem(100);
          img {
            width: 100%;
            height: auto;
            border-radius: rem(4);
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
