@import "../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .elektronika {
    margin-top: rem(40);
    padding: rem(30) rem(5);
    .container-fluid {
      .ant-row {
        .ant-col {
          padding-right: 0 !important;
          .electronikaCard {
            padding-right: 0;
            align-items: center;
            .electronika-card_info {
              padding-bottom: rem(15);
              .electronika-card_date {
                height: auto;
                width: 100%;
                justify-content: flex-start;
                p {
                  display: flex;
                  width: 100%;
                  justify-content: flex-start;
                  flex-direction: column;
                  span {
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    padding: rem(5) 0;
                    margin: 0;
                    &:nth-child(2) {
                      p {
                        display: block;
                        margin: 0;
                        width: 100%;
                        text-align: left;
                      }
                    }
                  }
                }
              }
              .electronika-card_text {
                display: none;
              }
            }
          }
          .paginations {
            margin-bottom: rem(80);
          }
        }
      }
    }
  }
}
