@import "../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .header-top {
    display: none;
  }
  .header-bottom {
    width: 100%;
    // height: 100vh;
    // display: none;
    // height: rem(52);
    padding: 0;
    // display: flex;
    position: relative;
    .container-fluid {
      padding: 0;
      width: 100%;
      height: 100%;
      .navbar {
        display: none;
      }
      .mobileSearch {
        display: block;
        margin: rem(20) rem(10);
      }
      .navbarMobile {
        width: 100%;
        // background: var(--red);
        height: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(10);
        .headerMenu {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      // .headerMenu {
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   z-index: 91;
      //   height: rem(62);
      //   padding: 0 rem(12);
      //   // position: sticky;
      //   // top: -1px;
      //   svg {
      //     z-index: 91;
      //   }
      //   img {
      //     z-index: 93;
      //   }
      // }
      // .navbar {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   width: 100%;
      //   height: 100vh;
      //   position: fixed;
      //   top: 0;
      //   background: var(--green);
      //   z-index: 90;
      //   left: 0;
      //   display: none;
      //   height: 0;
      //   transition: 0.3s ease-in-out;
      //   //   justify-content: space-evenly;
      //   .nav-links {
      //     display: flex;
      //     flex-direction: column;
      //     width: 100%;
      //     height: 100%;
      //     justify-content: center;
      //     .navLink {
      //       height: auto;
      //       width: 100%;
      //       display: block;
      //       padding: rem(20);
      //       font-size: rem(24);
      //       line-height: rem(24);
      //       color: var(--white);
      //       text-transform: uppercase;
      //       text-align: center;
      //       margin: 0 0 rem(30) 0;
      //     }
      //   }
      //   .nav-search {
      //     display: none;
      //   }
      // }
      // .navActive {
      //   display: flex;
      //   transition: 0.3s ease-in-out;
      //   animation-name: menu;
      //   animation-duration: 0.5;
      //   animation-timing-function: ease-in-out;
      //   height: 100vh;
      // }
      // .headerSecondText {
      //   display: block;
      //   background: var(--darkGreen);
      //   padding: rem(30) rem(14);
      //   width: 100%;
      //   height: auto;
      //   p {
      //     color: var(--white);
      //     font-size: rem(16);
      //     line-height: rem(19);
      //     font-weight: 700;
      //   }
      // }
    }
  }
  .newsHome {
    display: none;
  }
}
