@import "../App.scss";

.news {
  padding: rem(30);
  .news-info {
    margin-right: rem(30);
    h3 {
      font-weight: 600;
      line-height: rem(39);
      font-size: rem(32);
      color: var(--darkBlack);
      margin: 0;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: rem(26) 0;
      h5 {
        font-size: rem(10);
        line-height: rem(12);
        font-weight: 400;
        color: var(--white);
        padding: rem(4) rem(10);
        background: var(--lightGreen);
        margin: 0;
        p {
          color: var(--white);
        }
      }
      p {
        display: flex;
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(16);
        align-items: center;
        color: var(--comment);
        span {
          &:nth-child(2) {
            margin-left: rem(9);
          }
          &:nth-child(3) {
            margin-left: rem(36);
          }
        }
      }
    }
    img {
      display: block;
      &:nth-child(3) {
        width: 100%;
        // height: rem(420);
        height: auto;
        border-radius: rem(4);
        margin-bottom: rem(61);
      }
    }
    .quites {
      display: flex;
      justify-content: center;
      border-bottom: rem(1) solid var(--comment);
      padding-bottom: rem(21);
    }
    .news-text {
      font-size: rem(16);
      line-height: rem(19);
      font-weight: 400;
      color: var(--darkBlack);
    }
  }
  .newsSocialNetwork {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(10);
    margin-top: rem(20);
    border-top: rem(1) solid var(--borderColor);
    p {
      font-size: rem(16);
      line-height: rem(19);
      font-weight: 600;
      color: var(--black);
    }
    div {
      display: flex;
      align-items: center;
      a {
        margin-left: rem(11);
      }
    }
  }
  .newArticleCardActive {
    display: flex;
    border-top: rem(1) solid var(--borderColor);
    padding-top: rem(24);
    // align-items: center;
    margin-bottom: rem(24);
    flex-direction: column-reverse;
    &:hover {
      .newArticleCardActiveText {
        h3 {
          color: var(--lightGreen);
        }
      }
      .newArticleCardActiveImg {
        img {
          filter: brightness(0.8);
        }
      }
    }
    .newArticleCardActiveText {
      padding-right: rem(21);
      div {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(15);
        h5 {
          margin: 0;
          padding: rem(4) rem(10);
          background: var(--lightGreen);
          color: var(--white);
          font-size: rem(12);
          line-height: rem(16);
          width: max-content;
          font-weight: 400;
        }
        p {
          color: var(--comment);
          font-size: rem(12);
          line-height: rem(15);
          font-weight: 400;
          // padding-top: rem(15);
        }
      }
      h3 {
        font-size: rem(20);
        font-weight: 600;
        line-height: rem(24);
        color: var(--black);
        margin: rem(10) 0;
        transition: 0.3s ease-in-out;
      }
      p {
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(19);
        color: var(--lightBlack);
      }
    }
    .newArticleCardActiveImg {
      div {
        // width: rem(289);
        img {
          // height: rem(289);
          height: auto;
          width: 100%;
          border-radius: rem(4);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .newArticleCard {
    display: flex;
    align-items: center;
    margin: rem(30) 0;
    &:hover {
      .newArticleCardImg {
        img {
          filter: brightness(0.8);
        }
      }
      .newArticleCardText {
        h3 {
          color: var(--lightGreen);
        }
      }
    }
    .newArticleCardImg {
      div {
        width: rem(191);
        img {
          width: 100%;
          // height: rem(179);
          height: auto;
          border-radius: rem(4);
          transition: 0.3s ease-in-out;
        }
      }
    }
    .newArticleCardText {
      padding-left: rem(26);
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
          padding: rem(4) rem(10);
          background: var(--lightGreen);
          color: var(--white);
          margin: 0;
          font-size: rem(12);
          line-height: rem(16);
          font-weight: 400;
        }
        p {
          color: var(--comment);
          font-weight: 400;
          line-height: rem(15);
          font-size: rem(12);
        }
      }
      h3 {
        font-size: rem(18);
        font-weight: 600;
        line-height: rem(22);
        color: var(--black);
        margin: rem(10) 0;
        transition: 0.3s ease-in-out;
      }
      p {
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(19);
        color: var(--lightBlack);
      }
    }
  }
  .newArticleLink {
    margin-top: rem(40);
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      padding: rem(16) rem(25);
      // background: var(--blue);
      color: var(--blue);
      border-bottom: rem(1) solid var(--blue);
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--white);
        background: var(--blue);
      }
    }
  }
}
