@import "../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .news {
    display: block;
    padding: rem(30) rem(5);
    margin-top: rem(70);
    .news-info {
      margin-right: rem(0);
      div {
        margin: rem(20) 0;
      }
      img {
        &:nth-child(3) {
          margin-bottom: rem(30);
        }
      }
    }
    .newsSocialNetwork {
      margin-bottom: rem(50);
      padding-top: rem(20);
    }
    .newArticle {
      padding: rem(16) 0;
      .newArticleCardActive {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 0;
        .newArticleCardActiveText {
          padding: 0;
          width: 100%;
          div {
            margin: rem(10) 0 0 0;
            width: 100%;
            justify-content: space-between;
          }
          h3 {
            font-size: rem(20);
          }
          p {
            &:nth-child(3) {
              display: none;
            }
          }
        }
        .newArticleCardActiveImg {
          div {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
      .newArticleCard {
        border-top: rem(1) solid var(--borderColor);
        margin: rem(10) 0;
        padding-top: rem(15);
        .newArticleCardImg {
          div {
            width: rem(150);
          }
        }
        .newArticleCardText {
          padding: 0 0 0 rem(10);
          width: 100%;
          div {
            margin-bottom: rem(10);
            width: 100%;
          }
          h3 {
            margin: 0;
          }
          p {
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
      .newArticleLink {
        margin-bottom: rem(30);
      }
    }
  }
}
