@import "../../App.scss";

.answer {
  padding: rem(50) rem(30);
  .answer-info {
    width: 100%;
    .answer-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: rem(1) solid var(--borderColor);
      padding-bottom: rem(15);
      margin-bottom: rem(23);
      a {
        color: var(--blue);
        // background: var(--blue);
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(10) rem(20);
        &:hover {
          background: var(--blue);
          color: var(--white);
        }
      }
    }
    .answer-card {
      width: rem(290);
      height: rem(184);
      border-radius: rem(4);
      background: var(--answerBg);
      padding: rem(17) rem(20) 0 rem(20);
      h5 {
        font-size: rem(12);
        line-height: rem(15);
        font-weight: 600;
        color: var(--black);
        margin: 0 0 rem(18) 0;
      }
      p {
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(15);
        color: var(--lightBlack);
      }
    }
    .answerSwiper {
      display: none;
    }
  }
}
