@import "../src/App.scss";

.ant-input-group-addon {
  display: none;
}
.ant-select {
  width: rem(285);
  height: rem(34);
  color: var(--green) !important;
  .ant-select-selector {
    border-radius: rem(4) !important;
    border-color: var(--green) !important;
  }
}

.ant-tabs-tab-active {
  color: var(--green) !important;
  border-color: var(--green) !important;
}


