* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
*::selection {
  background: var(--lightGreen);
}
:root {
  --green: #024f00;
  --darkGreen: #073006;
  --lightGreen: #4dbf50;
  --white: #ffffff;
  --whiteHover: rgba(255, 255, 255, 0.2);
  --darkBlack: #03232a;
  --lightBlack: #636363;
  --black: #494949;
  --borderColor: #cfcfcf;
  --blue: #1796de;
  --red: #e63233;
  --footerBg: #f7f7f7;
  --answerBg: #f8f8f8;
  --yellow: #fabd00;
  --purple: #6562ed;
  --comment: #adadad;
}
$BASE_BODY_FONT_SIZE: 16;
@function rem($pixels) {
  @return ($pixels/$BASE_BODY_FONT_SIZE) + rem;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}
// body::-webkit-scrollbar {
//   background: transparent;
//   width: rem(5);
// }
// body::-webkit-scrollbar-button {
//   display: none;
// }
// body::-webkit-scrollbar-thumb {
//   background: var(--green);
//   border-radius: rem(5);
// }

a {
  text-decoration: none;
}
.jcCenter {
  display: flex;
  justify-content: center;
}
.jcBetween {
  display: flex;
  justify-content: space-between;
}
.jcEvenly {
  display: flex !important;
  justify-content: space-evenly !important;
}
.jcEnd {
  display: flex;
  justify-content: flex-end;
}
.alignCenter {
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.dn {
  display: none;
}
p {
  margin: 0;
}
.title {
  color: var(--darkBlack);
  font-weight: 700;
  line-height: rem(24);
  font-size: rem(20);
  display: flex;
  align-items: center;
  margin-bottom: rem(15);
}
.title-circle {
  width: rem(13);
  height: rem(13);
  border-radius: 50%;
  background: var(--lightGreen);
  margin-right: rem(11);
}
.bgRed {
  background: var(--red);
}
.activeLink {
  background: var(--whiteHover);
}
.title-large {
  color: var(--darkBlack);
  font-weight: 600;
  line-height: rem(39);
  font-size: rem(32);
  display: flex;
  align-items: center;
  margin-bottom: rem(26);
}
.paginations {
  margin-top: rem(24);
  color: var(--green) !important;
  width: 100%;
  display: flex;
  justify-content: center;
  .ant-pagination-item {
    color: var(--white);
    background: var(--green);
    border-color: var(--green);
    border-radius: rem(4);
  }
  .ant-pagination-prev {
    background: var(--green) !important;
    color: var(--white) !important;
    border-color: var(--green);
  }
  .ant-pagination-next {
    background: var(--green) !important;
    color: var(--white) !important;
    border-color: var(--green);
  }
}
.title-new {
  color: var(--white);
  padding: rem(2) rem(11);
  background: var(--lightGreen);
  font-weight: 600;
  line-height: rem(19);
  font-size: rem(16);
  margin-left: rem(10);
  border-radius: rem(4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#wh100 {
  width: 100% !important;
  height: 100% !important;
}
#wh50 {
  width: 50% !important;
  height: 50% !important;
}
#owHidden {
  overflow: hidden;
}
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  body {
    overflow-x: hidden;
    .ant-drawer {
      .ant-drawer-content-wrapper {
        // background: var(--green) !important;
        .ant-drawer-content {
          // background-color: var(--green) !important;
          .ant-drawer-wrapper-body {
            .ant-drawer-header{
              background: var(--green) !important;
              height: rem(64);
              .ant-drawer-header-title{
                display: flex !important;
                align-items: center !important;
                height: 100% !important;
                .ant-drawer-close{
                  font-size: rem(20) !important;
                  color: var(--white) !important;
                }
                .ant-drawer-title{
                  color: var(--white) !important;
                  margin: rem(3) 0 0 rem(10);
                  font-size: rem(22);
                }
              }
            }
            .ant-drawer-body {
              display: flex !important;
              flex-direction: column !important;
              .navLink {
                display: block !important;
                width: 100% !important;
                // height: rem(50);
                font-size: rem(16);
                font-weight: 600;
                line-height: rem(22);
                color: var(--green);
                margin: rem(15) 0;
              }
            }
          }
        }
      }
    }
  }
}
