@import "../App.scss";

.answerQuestion {
  padding: rem(30);
  .answerTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // padding-right: rem(30);
    a {
      width: rem(188);
      height: rem(50);
      button {
        background: var(--red);
        border-color: var(--red);
        color: var(--white);
        border-radius: rem(4);
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: rem(18);
        line-height: rem(22);
        transition: 0.3s ease-in-out;
        &:hover {
          background: transparent;
          color: var(--red);
        }
      }
    }
  }
  .answerQuestionCard {
    // width: rem(691);
    margin-top: rem(25);
    padding-bottom: rem(16);
    border-bottom: rem(1) solid var(--borderColor);
    &:hover {
      h4 {
        color: var(--purple);
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6 {
        padding: rem(4) rem(10);
        // background: var(--lightGreen);
        color: var(--white);
        line-height: rem(12);
        font-size: rem(10);
        font-weight: 400;
        margin: 0;
        p {
          color: var(--white);
        }
      }
      p {
        display: flex;
        align-items: center;
        color: var(--comment);
        line-height: rem(15);
        font-size: rem(12);
        font-weight: 400;
        span {
          display: flex;
          align-items: center;
          img {
            margin-right: rem(9);
          }
          &:nth-child(2) {
            margin: 0 rem(36);
          }
        }
      }
    }
    h4 {
      margin: rem(12) 0 rem(8) 0;
      color: var(--black);
      line-height: rem(19);
      font-size: rem(16);
      font-weight: 600;
      transition: 0.3s ease-in-out;
    }
    p {
      font-size: rem(12);
      line-height: rem(15);
      font-weight: 400;
      color: var(--lightBlack);
    }
  }
  .newArticleCardActive {
    display: flex;
    border-top: rem(1) solid var(--borderColor);
    padding-top: rem(24);
    // align-items: center;
    margin-bottom: rem(24);
    flex-direction: column-reverse;
    &:hover {
      .newArticleCardActiveText {
        h3 {
          color: var(--lightGreen);
        }
      }
      .newArticleCardActiveImg {
        img {
          filter: brightness(0.8);
        }
      }
    }
    .newArticleCardActiveText {
      padding-right: rem(21);
      div {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(15);
        h5 {
          margin: 0;
          padding: rem(4) rem(10);
          background: var(--lightGreen);
          color: var(--white);
          font-size: rem(12);
          line-height: rem(16);
          width: max-content;
          font-weight: 400;
        }
        p {
          color: var(--comment);
          font-size: rem(12);
          line-height: rem(15);
          font-weight: 400;
          // padding-top: rem(15);
        }
      }
      h3 {
        font-size: rem(20);
        font-weight: 600;
        line-height: rem(24);
        color: var(--black);
        margin: rem(10) 0;
        transition: 0.3s ease-in-out;
      }
      p {
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(19);
        color: var(--lightBlack);
      }
    }
    .newArticleCardActiveImg {
      div {
        // width: rem(289);
        img {
          // height: rem(289);
          height: auto;
          width: 100%;
          border-radius: rem(4);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .newArticleCard {
    display: flex;
    align-items: center;
    margin: rem(30) 0;
    &:hover {
      .newArticleCardImg {
        img {
          filter: brightness(0.8);
        }
      }
      .newArticleCardText {
        h3 {
          color: var(--lightGreen);
        }
      }
    }
    .newArticleCardImg {
      div {
        width: rem(191);
        img {
          width: 100%;
          // height: rem(179);
          height: auto;
          border-radius: rem(4);
          transition: 0.3s ease-in-out;
        }
      }
    }
    .newArticleCardText {
      padding-left: rem(26);
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
          padding: rem(4) rem(10);
          background: var(--lightGreen);
          color: var(--white);
          margin: 0;
          font-size: rem(12);
          line-height: rem(16);
          font-weight: 400;
        }
        p {
          color: var(--comment);
          font-weight: 400;
          line-height: rem(15);
          font-size: rem(12);
        }
      }
      h3 {
        font-size: rem(18);
        font-weight: 600;
        line-height: rem(22);
        color: var(--black);
        margin: rem(10) 0;
        transition: 0.3s ease-in-out;
      }
      p {
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(19);
        color: var(--lightBlack);
      }
    }
  }
  .newArticleLink {
    margin-top: rem(40);
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      padding: rem(16) rem(25);
      // background: var(--blue);
      color: var(--blue);
      border-bottom: rem(1) solid var(--blue);
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--white);
        background: var(--blue);
      }
    }
  }
}
